[2021-08-28 07:55] sondrelg opened #4 "Supported python versions"
### Python Version

n/a

### Django Version

n/a

### Package Version

1.0.0

### Description

Hi!

Thanks for creating this!

I just had a quick question about your supported Python versions:

[code]

Since you utilize `end_lineno`, [here](https://github.com/adamchainz/django-upgrade/blob/main/src/django_upgrade/_ast_helpers.py#L20), I _think_ you'll have troubles on Python versions earlier than

[2021-08-28 08:38] adamchainz commented on #4
I already know this, I just released this project yesterday to PyPI to secure the name. Fixing Python 3.8 compat in #5. Will consider whether 3.6 and 3.7 support is worth it, because it makes the fixers significantly harder to write without the `end_lineno` attr.

[2021-08-28 08:38] #4 closed

[2021-09-02 08:58] adamchainz opened #29 "Fix update_imports to not leave a trailing comma"
### Python Version

_No response_

### Django Version

_No response_

### Package Version

_No response_

### Description

Take:

[code]

Call `update_imports` on it to remove imports `c` and `d`.

One will be left with:

[code]

which is a syntax error.

[2021-09-02 21:48] adamchainz opened #34 "Combine contrib.postgres fixers"
### Python Version

_No response_

### Django Version

_No response_

### Package Version

_No response_

### Description

They currently will fight each other - if both rewrite imports for the same module, the second run of `update_import` will fail as it won't find the required tokens.

[2021-09-11 11:26] adamchainz opened #40 "Upgrade header access"
Rewrite (self.)?request.meta access of a string starting HTTP to request.headers

Since Django 2.2

https://docs.djangoproject.com/en/2.2/releases/2.2/#requests-and-responses

[2021-09-12 11:58] browniebroke opened #41 "Synergy with django-codemod"
### Python Version

n/a

### Django Version

n/a

### Package Version

n/a

### Description

Hey Adam! Just noticed that you started this project 😀

I've always been bothered by `django-codemod`' speed, and despite my efforts to speed it up, it became obvious that libCST is a major limiting factor. I was also considering a rework of the CLI option to accept a min/max version, but reading your appr

[2021-09-12 14:10] adamchainz commented on #41
Hi Bruno!

I was going to message you once I'd matured the project a little bit more. I'm planning on working on it a little more this week, including adding some more fixers, bug fixes, and testing.

Yes porting the fixers over has been my approach, the source of django-codemod has been useful to crib things from. The URL path/re_path fixer will be particularly useful.

I wanted to ask you if you

[2021-09-13 15:32] browniebroke commented on #41
Nice! Cool, I'll try to build a simple one and see how it goes.

[2021-09-17 08:36] adamchainz opened #47 "Add `@admin.action` and `@admin.display`"
### Python Version

_No response_

### Django Version

_No response_

### Package Version

_No response_

### Description

Find functions with appropriate attributes being set and rewrite them to use `@admin.action` or `@admin.display` respectively

https://docs.djangoproject.com/en/3.2/ref/contrib/admin/actions/#django.contrib.admin.action
https://docs.djangoproject.com/en/3.2/ref/contrib/admin/#

[2021-09-17 10:23] adamchainz commented on #34
Alternatively, rewrite `update_import_names` to work even after one or more imports has been removed

[2021-09-17 13:33] #40 closed

[2021-09-18 09:56] adamchainz opened #59 "Rewrite translated URLs"
It's theoretically possible to rewrite old `url()` calls using translation to the new path format, e.g.

[code]

`State.from_imports` would need extending to track aliases as it currently ignores them.

[2021-09-18 09:58] adamchainz opened #60 "Rewrite re_path() calls into path()"
For people who did find/replace of `url()` to `re_path()`, we could help by applying the same rewriting logic of `url()` to convert `re_path()` to `path()`

This could get a little awkward with removing `re_path()` if it's no longer needed, tracking if that's needed.

[2021-09-19 11:47] adamchainz opened #62 "Make on_delete fixer also work when fields imported *from* django.db.models"
As noted in #61, we might want to also do e.g.

[code]

[2021-09-19 13:46] adamchainz opened #63 "Templates - ifequal / ifnotequal"
Django 3.1 deprecated these template tags, it would be nice if we could rewrite them.

We could expand to support html files, detecting file type with [identify](https://pypi.org/project/identify/), and assuming Python by default.

For these two deprecated tags, we should be able to rewrite them with regexes. The only thing is to skip over any `verbatim` blocks. I imagine the structure will be a g

[2021-09-22 08:25] MikeVL opened #66 "Rewrite get_random_string bug"
### Python Version

3.9.4

### Django Version

3.2.7

### Package Version

1.2.0

### Description

[code]

[2021-09-22 08:57] #66 closed

[2021-09-22 09:07] adamchainz commented on #66
Fixed in #67, released in 1.3.0. Thanks for the clear bug report!

[2021-09-22 09:17] MikeVL opened #70 "IndexError: list index out of range"
### Python Version

3.9.4

### Django Version

3.2.7

### Package Version

1.3.0

### Description

[code]

[2021-09-22 09:29] adamchainz commented on #70
Can you narrow it down to particular file / source? It's hard to know what fixer was even running from the traceback.

[2021-09-22 09:31] adamchainz commented on #70
It could also be useful to know which `--target-version` hits this, as that will narrow which fixers.

This may be an instance of #34.

[2021-09-22 09:41] MikeVL commented on #70
tokens variable:
[code]

`tokens` length and `i` variable is equal to 1089

[2021-09-22 10:14] #70 closed

[2021-09-22 10:14] adamchainz commented on #70
Thanks, fixed in #71 , released in 1.3.1.

[2021-09-22 15:34] quentinelwin opened #72 "HttpRequest.META is not deprecated"
### Python Version

3.8.10

### Django Version

3.2

### Package Version

1.0.0

### Description

According to the [documentation of HttpRequest.META](https://docs.djangoproject.com/en/3.2/ref/request-response/#django.http.HttpRequest.META), HttpRequest.META is not deprecated in any version of django, so the rule in django-upgrade which converts these calls to `request.headers` and removes the HTT

[2021-09-22 18:12] adamchainz commented on #72
Django-upgrade doesn't just care about depreciations, it also helps you use the latest features.

[2021-09-22 18:12] #72 closed

[2021-09-23 08:30] quentinelwin commented on #72
Sorry this is not what I understood about django-upgrade. I thought it only converted deprecated code to upgrade from one version of django to another, not that it was opinionated about some best practices (and in this particular case, it looks like this is not an official best practice, it is not mentionned in django documentation). Maybe you could write it more clearly in the description and doc

[2021-09-23 08:48] quentinelwin commented on #72
(My primary need here is to use a tool which makes the smaller amount of migrations in my codebase required to update the django version of my repo, at least as a first pass so that it is more digestable than a diff which would also add changes related to pretended best practices. These best practices changes could come as a second pass.)

[2021-09-23 09:25] adamchainz commented on #72
I've improved the description in #73 to not only mention deprecations.

For old features we've been historically reticent to deprecate them or recommend the new one, because of the churn. My hope is this tool helps reduce the cost of that churn so we can make more required changes.

I don't think there's a reasonable claim that `request.META["HTTP_FOO"]` is "better" in any way to `request.headers[

[2021-09-23 12:55] quentinelwin commented on #72
OK thanks :)

[2021-09-23 16:28] browniebroke opened #74 "HttpRequest.headers fixer produces unsupported assigments in tests"
### Python Version

3.8

### Django Version

3.1

### Package Version

1.3.1

### Description

I ran django-upgrade on our codebase and it replaced some places where we were setting `request.META` to a fake requests created by [`RequestFactory`](https://docs.djangoproject.com/en/stable/topics/testing/advanced/#django.test.RequestFactory) in our tests, which isn't correct.

I guess `django-upgrade`

[2021-09-23 17:01] adamchainz commented on #74
Ah, I did not know that one could assign to request.META in tests

We can heuristically avoid touching test requests by checking if the node's parent is a function whose name starts with `test_`...

(Also assigning to `request.headers` in tests sounds like a useful feature for Django to add, if you want to find/make a ticket there.)

[2021-09-23 18:19] adamchainz commented on #74
I missed this. This is easy to do.

[2021-09-23 18:23] #74 closed

[2021-09-23 18:24] adamchainz commented on #74
Fixed in #75, relaesed in version 1.3.2.

[2021-09-23 19:54] browniebroke commented on #74
Nice! 🚀

[2021-09-27 05:05] DmytroLitvinov opened #78 "Add support for providing folder in argument"
### Description

Would be nice to have a feature to provide folder as an argument.

[2021-09-27 08:18] adamchainz commented on #78
I'm following the same policy as pyupgrade here: https://github.com/asottile/pyupgrade/issues/40#issuecomment-396057113

Use `pre-commit` or `find`+`xargs` or whatever to run the tool on all files within a directory.

[2021-09-27 08:18] #78 closed

[2021-09-27 08:57] DmytroLitvinov commented on #78
Thank you for providing a response, Adam.

[2021-09-27 15:58] MRigal opened #79 "NullBooleanField will also fix earlier migrations"
### Python Version

3.9.4

### Django Version

3.2.6

### Package Version

1.3.2

### Description

I wrote my code in earlier times using `NullBooleanField`, then recently I updated to 3.2 and already made the changes to the fields, also adding a new version. The code is IMHO "fixed".

Now I've added the django-upgrade check and it's trying to rewrite my earlier migrations. I guess it is not inten

[2021-09-27 16:37] adamchainz commented on #79
I did think about this, but it seems fine to to rewrite past migrations, in this case and for `JSONField`. The two definitions should give the exact same definition in the database. Did you encounter any issue, or did you just find it weird that migrations are edited?

If by “reset” you mean “delete them then run `makemigrations`”, I am strongly against that. It’s too risky for missing some small

[2021-09-27 16:45] browniebroke commented on #79
In case it helps, I avoid this problem by excluding migrations with:

[code]

[2021-09-29 10:44] MRigal commented on #79
I found it weird, because it is fixed later on and feels like not respecting the history. But indeed I went through the process, tried it with data and did not encounter any issue.

I've used that unprecised definition to indeed not choose between both options! But indeed, I shall rather squash them.

Thanks @browniebroke, but I am using the pre-commit hook and also running it on all files as part

[2021-10-23 09:45] adamchainz opened #86 "Templates - admin_static / staticfiles -> static"
### Description

Django 2.1+ https://docs.djangoproject.com/en/2.1/releases/2.1/#features-deprecated-in-2-1

After #templat

[2021-11-18 10:04] Swamii commented on #60
Thanks for the lib.
I just want to note that sometimes the view-code expects the parameter to be a `str` (not `int` for example), so automatic rewriting might cause unexpected issues for the user.

[2021-11-25 08:55] spookylukey opened #97 "urlquote / f-string issue"
### Python Version

3.8

### Django Version

3.2.9

### Package Version

1.4

### Description

django-upgrade changed this import:

[code]

But then failed to change usages of `urlquote` to `quote`. The only usage in my case was inside an f-string, don't know if that is relevant.

I'll put more effort into a reproducible test case if needed

[2021-11-25 10:52] adamchainz commented on #97
Oh fun.

Turns out the tokenize leaves f-strings as a single token:

[code]

[2022-01-16 19:13] residentcode opened #116 "Fixing deprecated code within virtual env"
### Description

Could you please implement accessing and fixing the deprecated import within the virtual envirement ?
there are some apps still have deprecated import for Django 4.0 I had to update them manually .
Appreciated .

[2022-01-17 11:45] adamchainz commented on #116
It's a bad idea to modify code after installing it. It won't be tested in the state after modification, and you should be rebuilding your virtual environments no every deploy to ensure they are clean.

For your third party apps with deprecation warnings, make pull requests to fix them upstream.

[2022-01-17 11:45] #116 closed

[2022-02-01 17:09] qdufrois opened #121 "Issue with url function replacement"
### Python Version

3.7

### Django Version

2.2

### Package Version

1.4.0

### Description

Django-upgrade changes this kind of `url` functions:
```url(r"^foo", my_view)```

with these `path` functions:
```path("foo", my_view)```

However, the automated change made by the library is not backwards compatible. The initial code allowed all paths such as  `foos`, `footest` etc., whereas the upgrade

[2022-02-01 20:37] matthiask commented on #121
I'm surprised that `url(r"^/foo", ...)` even matches anything. it doesn't seem to work in my local testing at all.

The Django docs state that there's no need to add a leading slash and I haven't found a single example containing a leading slash. I'm sure it works on your end but it's still strange.

[2022-02-02 09:03] qdufrois commented on #121
Yeah my bad, that was not a good example, let's forget about those leading slashes, I have removed them in the example to avoid the confusion.

[2022-04-13 18:36] adamchainz commented on #121
Fixed in #133

[2022-04-13 18:37] #121 closed

[2022-04-14 07:51] #79 closed

[2022-04-14 08:34] carltongibson opened #135 "Migrate django.utils.timezone.utc to datetime.timezone.utc"
### Description

Django 4.1 deprecates the `django.utils.timezone.utc` alias to `datetime.timezone.utc`. Folks should use `datetime.timezone.utc` directly.

https://github.com/django/django/commit/59ab3fd0e9e606d7f0f7ca26609c06ee679ece97

This seems like a good candidate for `django-upgrade`, as @adamchainz [convincingly argued on a recent Django Chat](https://djangochat.com/episodes/boost-your-dj

[2022-04-14 09:48] adamchainz commented on #135
Yup, that would be a fairly straightforward replacement! Thanks for the issue

[2022-04-14 12:23] qdufrois commented on #121
Thanks a lot for this :bow:

[2022-05-03 17:03] browniebroke opened #139 "Removal of `default_app_config` on Django 3.2+"
### Description

Django 3.2 introduced an automatic [app config discovery mechanism](https://docs.djangoproject.com/en/dev/releases/3.2/#automatic-appconfig-discovery). Do you think django-upgrade could remove the deprecated `default_app_config` application configuration variable?

[2022-05-03 17:30] adamchainz commented on #139
I guess so, I didn't think about it. I found this change affects installable apps more than projects, for which I used this pattern, rather than just deleting:

[code]

but yeah we could add a fixer, if a django-upgrade user specifies `--target-version 3.2`, that means their code should only support 3.2 as a minimum.

Are you offering to write a PR?

[2022-05-03 17:44] browniebroke commented on #139
I can take a look at that, yes. I might have some free time later this week.

[2022-05-04 09:21] #139 closed

[2022-05-04 11:33] mrswats opened #142 "Add --version flag"
### Description

It would be useful to have a `--version` flag to know what version is the application running.

I am working on a PR right now to implement this feature.

[2022-05-04 12:53] adamchainz commented on #142
fixed in #143

[2022-05-04 12:53] #142 closed

[2022-05-04 22:04] browniebroke commented on #135
Is that something that is "too early" to tackle? As in, should we wait for the first beta/stable release? Looking at the diff, it looks like we could do this replacement even before 4.1, would it make sense to apply it to earlier versions or would you rather stick to Django's deprecation timeline to avoid questions/confusion from users?

[2022-05-05 05:08] carltongibson commented on #135
I wouldn't apply it before 4.0, which changed from pytz.

[2022-05-05 09:21] adamchainz commented on #135
The policy with django-upgrade is to rewrite on the version that first deprecates a thing. So we'll do version 4.1 here.

Yes it's possible to use `datetime.timezone.utc` earlier, perhaps even before 4.0 for most use cases, but I think it's best we just stick to django's deprecations to reduce surprise.

[2022-05-12 08:45] adamchainz opened #149 "Rewrite 'if django.VERSION >' blocks"
### Description

Copy the `if sys.version_info` feature from pyupgrade: https://github.com/asottile/pyupgrade/#python2-and-old-python3x-blocks

Would help when dropping old Django versions from a code base.

[2022-07-04 20:58] UnknownPlatypus opened #160 "Rewrite compatible `re_path()` to the new `path()` syntax"
### Description

Hi,

I came here after discovering [pyupgrade](https://github.com/asottile/pyupgrade), these are fascinating projects, really like it !

I created this issue to suggest a slight improvement of this feature:

This is nice and could also be useful to convert compatible `re_path()` to simpler `path()` syntax.
It would benefit projects that handled the deprecation by simply replacing

[2022-07-04 23:17] johnnymetz opened #161 "Delete `USE_L10N` setting if Django version >= 4.0"
### Description

The `USE_L10N` setting is deprecated in Django 4.0: https://docs.djangoproject.com/en/4.0/ref/settings/#std-setting-USE_L10N

Figure this would be a good candidate for this project. Happy to work on it if you agree.

[2022-07-05 07:21] adamchainz commented on #161
Yeah we could remove it, but only if it's set to exactly `True`: `USE_L10N = True`.

The `password_reset_timeout_days` fixer rewrites another setting, you can use that for guidance.

Please ensure you test, update docs, and add a changelog note.

[2022-07-05 07:23] adamchainz commented on #160
Yes this is an idea I had after writing the initial converter - see the duplicate issue #60.

Please include docs and changelog in your PR.

[2022-07-05 07:23] #160 closed

[2022-07-09 21:41] johnnymetz commented on #161
There are two changes here. According to the settings page: https://docs.djangoproject.com/en/4.0/ref/settings/#std-setting-USE_L10N

- Changed in Django 4.0: In older versions, the default value is False.
- Deprecated since version 4.0: This setting is deprecated. Starting with Django 5.0, localized formatting of data will always be enabled. For example Django will display numbers and dates using

[2022-08-09 10:21] #135 closed

[2022-08-17 13:26] valberg opened #172 "ModuleNotFoundError: No module named 'datetime.timezone'; 'datetime' is not a package"
### Python Version

3.10

### Django Version

4.1

### Package Version

1.8.0

### Description

After running the new 1.8.0 my project now throws this error:

[code]

I guess #169 was a bit too eager since `timezone.utc` is just an attribute on `timezone` and thus not importable.

[2022-08-24 13:10] adamchainz commented on #161
I don't see it as the responsibility of django-upgrade to worry about `USE_L10N = False`. django-upgrade updates files where it's definitely safe to do so.

Django will log a deprecation warning for it from version 4.0. If users ignore that all the way through to version 5.0, that's on them. At that point, leaving the single line in their settings file is going to be the least of their problems, a

[2022-08-24 17:40] johnnymetz commented on #161
Sounds great! Just put up the initial PR. I left `USE_L10N = False` alone.

[2022-08-25 08:27] #172 closed

[2022-08-25 08:29] adamchainz commented on #172
Thank you for the report, I guess we both missed that 😅

Fixed in #174, released in 1.8.1!

@hramezani you may want to check my PR, perhaps there's another case it doesn't fix.

[2022-08-25 08:48] hramezani commented on #172
Thanks @valberg for reporting. Yes, we missed that.

@adamchainz Thanks for taking care. LGTM :+1:

[2022-08-25 08:50] #161 closed

[2022-08-25 10:36] #149 closed

[2022-08-25 13:01] #60 closed

[2022-08-29 22:25] UnknownPlatypus opened #182 "Rewrite `admin.site.register()` to `@admin.register()`"
### Description

### Description
We could rewrite `admin.site.register()` to the more elegant `@admin.register()` syntax :

[code]

This syntax was actually added a while ago ([Django1.7](https://docs.djangoproject.com/en/dev/releases/1.7/#minor-features)).
I usually find it a bit easier to use since the Model and associated Custom Admin definition stay really close.

 ### Potential Issue
There is

[2022-08-30 07:34] adamchainz commented on #182
This could be an interesting fixer to have, but it would also be more of a coding style choice. The "direct register" approach is still used in Django's examples, and still needed for cases where model classes don't map to admin classes one-to-one.

Also, wouldn't the caveat also extend to other references to the class within the body, e.g. in other `super()` calls? Or is it just `__init__`?

[2022-08-30 08:28] UnknownPlatypus commented on #182
Thanks for the quick answer! I agree it's more of a coding style thing (although I do think it makes the navigation easier).

I had this point in mind but I think we can deal with it, if a custom admin classe maps to several models, it's either all happening in one file and we can track the number of usage and skip rewrite if it's more than one OR the custom admin class is imported in another file

[2022-09-06 17:33] browniebroke commented on #182
One edge case is that an admin can be registered against multiple models:

[code]

Probably not used very much, but that might be a small complication that I think is worth mentioning.

[2022-09-09 14:06] adamchainz commented on #182
Given the predicted complexity of this fixer, the caveat about `__init__`, and the fact that it's not dealing with a deprecation, I think it's not worth it.

It could be easier to use a flake8 plugin that tells developers to to prefer the decorator syntax.

[2022-09-10 22:02] UnknownPlatypus commented on #182
_This is an attempt to change your mind on this._

I've added a draft PR and the implementation is actually not that complex.
It's working well on the few edge cases we talked about (`__init__` caveat, one-to-many custom class).

While it's not dealing with a deprecation, it still aims at using newer django feature (like the [httpRequest rewritter](https://github.com/adamchainz/django-upgrade#http

[2022-09-10 22:42] adamchainz commented on #182
Okay, considering that there's a pretty solid implementation, it's definitely worth discussing. Glad you had fun working on this.

The PR looks pretty good from a first read, and you've covered many bases.

One thing springs to mind - we didn't discuss custom admin sites yet... e.g.

[code]

I've seen custom sites used a few times but I am less certain they are often used. I think we could leave t

[2022-09-10 23:40] UnknownPlatypus commented on #182
Thanks for the kind words!

Custom admin sites crossed my mind too when I was looking into the decorator internals but I'm not really familiar with them (and how people usually use them) so I was not really confident trying to support them.

The heuristics you mention sound reasonable but again I'm not familiar enough with custom site to confirm. Maybe keep that for a later PR ?

About another thi

[2022-09-12 23:35] adamchainz opened #190 "Extensions to `@admin.register` fixer"
### Description

Following #182 / #189 , there are a few more cases that could be covered with further work.

1. Support kwarg form ✅ #192

[code]

2. Support multiple models ✅ #200

[code]

[code]

3. Support when there are other class decorators, insert at top ✅ #193

[code]

4. Support custom admin sites ✅ #228

[code]

- detect custom site objects heuristically, to avoid affecting other code t

[2022-09-12 23:35] adamchainz commented on #182
Okay the main fixer was added in #189 , thank you! 👏👏👏

I'm not sure about supporting the extra arguments. It's not 100% safe to modify the main class, since Django creates a subclass and so the attribute "isn't there" in the main class. There could be several registered classes spread between files and rewriting this case would affect them all.

I've opened #190 with the further cases that I thin

[2022-09-12 23:35] #182 closed

[2022-09-13 07:05] adamchainz commented on #190
@UnknownPlatypus I have entertained myself tackling the two easiest ones here, perhaps you'd like to try the other two?

[2022-09-13 18:31] UnknownPlatypus commented on #190
@adamchainz Absolutely, would be nice to work on that and I think I have some ideas on how to tackle them.

[2022-09-14 04:06] #47 closed

[2022-09-14 04:10] adamchainz commented on #47
@ngnpope check it out 😎

[2022-09-14 08:07] adamchainz commented on #182
Just tested this against a client project, it rewrote a bunch of `admin.site.register` calls flawlessly, great work again @UnknownPlatypus .

[2022-09-14 13:22] ngnpope commented on #63
Semi-related to this, the `length_is` template filter is being deprecated in Django 4.2.

[2022-09-14 13:25] ngnpope commented on #47
Amazing! 🌟

Noticed one thing: This should also work for `from django.contrib.gis import admin`.

[2022-09-14 13:34] adamchainz opened #201 "Templates - is_equal"
### Description

[quote](https://github.com/adamchainz/django-upgrade/issues/63#issuecomment-1246758960) @ngnpope:

https://docs.djangoproject.com/en/dev/releases/4.2/#id1

[code]

[2022-09-14 13:36] adamchainz commented on #190
@UnknownPlatypus added point 5 above as well, for GIS admins.

[2022-09-14 13:36] adamchainz commented on #47
Ah, nicely spotted. I've also added that to the tasks for `@admin.register` in #190.

[2022-09-14 15:28] #29 closed

[2022-09-14 23:30] adamchainz opened #207 "Django 4.1 fixer: `assertFormError` / `assertFormsetError`"
### Description

New feature: https://docs.djangoproject.com/en/4.1/releases/4.1/#tests

With old form deprecated: https://docs.djangoproject.com/en/4.1/releases/4.1/#id2

So basically we want to do:

[code]

combine first two arguments into one

Bonus:

* [x] `assertFormError` with pos args - #210
* [x] try detect responses from client - #212
* [x] also try detect responses from async client - #2

[2022-09-15 16:39] adamchainz opened #209 "Tidy `find_final_token()`"
### Description

* Fix off-by-one - it current returns token *after* last token
* Rename to `first_token` / `last_token`

[2022-09-16 07:21] #207 closed

[2022-09-16 07:43] #209 closed

[2022-09-16 12:31] adamchainz opened #219 "Drop `<func>.allow_tags = True`"
### Description

Unsupported since Django 2.0.

https://docs.djangoproject.com/en/2.0/releases/2.0/#features-removed-in-2-0

[code]

[2022-09-16 12:32] adamchainz opened #220 "No tariling comma in admin.action/display fixer"
### Description

not:

[code]

just:
[code]

[2022-09-16 13:06] #220 closed

[2022-09-16 13:33] #219 closed

[2022-09-16 19:58] christianbundy opened #224 "`request.headers.get("Content-Length")` and `request.headers.get("Content-Type")`"
### Python Version

3.10

### Django Version

4.0

### Package Version

1.10

### Description

Hi! Thanks for your work on this project, I wish I'd found it sooner! I was just applying the fixers, and noticed that two HTTP headers aren't 'fixed' to user `request.headers.get()`:

- `CONTENT_LENGTH`
- `CONTENT_TYPE`

I was going to write a PR to fix this, but noticed that you have a test specificall

[2022-09-16 21:45] adamchainz commented on #224
I think I just wrote that test as an example of something in `request.META` that should not be excluded. Seems like the fixer could certainly be expanded to support them, I'd just want a test updated to something else that's in `request.META` that shouldn't be rewritten (something from WSGI?).

Sounds like you've delved into the code a bit, want to write that PR? :)

[2022-09-16 22:19] christianbundy commented on #224
Thanks for the quick response! Yep, I'll open a PR here in a few minutes.

[2022-09-17 10:08] #224 closed

[2022-09-21 06:29] adamchainz commented on #190
Alright we've checked everything off from this list! 🥳

This is now a really awesome feature that covers many cases. Great work @UnknownPlatypus .

[2022-09-21 06:29] #190 closed

[2022-09-21 16:28] adamchainz opened #234 "Rewrite `"HTTP_<x>" [not] in request.META` to use `request.headers`"
### Description

Extend the `request.headers` rewriter to update these two binary operations.

[2022-09-22 12:46] adamchainz opened #235 "Templates - blocktranslate and translate"
### Description

Upgrade to new name

https://docs.djangoproject.com/en/4.1/releases/3.1/#templates

[2022-09-22 23:03] UnknownPlatypus commented on #190
Thank again @adamchainz for the continuous support along the way and the kind help with my first few contributions to the open source community. :pray:

[2022-09-24 08:38] adamchainz opened #238 "Require at least one filename"
### Description

Currently running without any arguments does nothing, with no output:

[code]

Kinda useless.

The filename arg should be updated to require at least one filename.

[2022-09-24 08:38] adamchainz commented on #238
@ddaan

[2022-09-24 08:40] adamchainz commented on #234
@souliane would you like to tackle this at the sprints?

[2022-09-24 08:45] adamchainz commented on #59
Or we could just track the import independently in the fixer module, like in the recent admin fixers.

[2022-09-24 08:53] adamchainz opened #239 "Avoid rewriting `admin.register()` to decorator after `unregister`"
### Description

Currently the new `admin.register` fixer from #182 moves `register()` calls after `unregister()` calls:

[code]

This is unsafe!

Update the fixer to detect `unregister` calls and avoid rewriting.

@andreasschmitz

[2022-09-24 09:11] ddaan opened #240 "Readme should contain info how to run an upgrade on entire project"
### Description

mention of
[code]

and

[code]

[2022-09-24 09:27] #62 closed

[2022-09-24 11:13] adamchainz commented on #234
@ddaan work on this instead

[2022-09-24 11:36] adamchainz opened #244 "Insert admin.display and admin.action decorators above existing decorators"
### Description

Desired outcome:

[code]

[2022-09-24 11:37] adamchainz commented on #244
@crocmagnon

See `admin.register` fixer lines:

[code]

[2022-09-24 11:43] gregtap opened #245 "NullBooleanField to BooleanField upgrade issue when null=True parameter is present"
### Python Version

3.8.19

### Django Version

2.2.28

### Package Version

21479d3

### Description

While working on Sentry running latest   `django-upgrade` one of the change on model assistant failed.

[code]

Seems to be an issue when converting `NullBooleanField` to `BooleanField`.

[2022-09-24 11:52] adamchainz commented on #245
Okay we should ignore `NullBooleanField` calls with `null=True` already there.

[2022-09-24 13:04] Crocmagnon commented on #240
Should this issue be closed then? @adamchainz

[2022-09-24 13:22] adamchainz commented on #240
Yes

@ddaan in future write "Fixes #<num>" in PR description to auto close

[2022-09-24 13:22] #240 closed

[2022-09-24 13:25] jvzammit commented on #245
I'm going to try to open a PR for this..

[2022-09-24 15:53] #234 closed

[2022-09-24 16:38] #244 closed

[2022-09-25 10:18] #245 closed

[2022-09-25 10:52] adamchainz commented on #238
Fixed in #242.

[2022-09-25 10:52] #238 closed

[2022-09-25 12:11] benjaoming opened #250 "Undesired rewriting of import statements (pre-commit loop)"
### Python Version

3.8

### Django Version

2.2

### Package Version

main

### Description

I need some help triaging this behavior, as I'm not familiar with the patterns that django-upgrade uses to detect and alter import statements.

While running django-upgrade on a project, I have the following import statement generated:

[code]

However, if my project is using `reorder_python_imports`, it

[2022-09-25 12:19] adamchainz commented on #250
The import should only be added if something else in the file needs it - can you see any URL's that are being modified as well?

[2022-09-25 12:24] benjaoming commented on #250
Nothing else is being modified.

I believe this happens:

1) I ran `precommit run django-upgrade --all-files` and initially, things were modified such that the new import statements made sense together with URL pattern changes
2) Upon "git commit", I see that subsequent pre-commit hooks make additional changes
3) I commit the changes made by pre-commit but since django-upgrade is ALSO installed as

[2022-09-25 12:42] adamchainz commented on #250
Thanks, replicated with an extra test in `test_django_urls.py`:

[code]

The problem is that the call-rewriter is registering `re_path` as "used" when it encounters it (even though it doesn't rewrite it to `path`), which makes the import-rewriter rewrite it.

I think the import rewriting code here could do with some improvements to support all import styles.

[2022-09-25 13:18] icemac opened #252 "Django 4.2: Rename `assertFormsetError` and `assertQuerysetEqual`"
### Description

In [#33990](https://code.djangoproject.com/ticket/33990) (PR: https://github.com/django/django/pull/16110) the following test methods get renamed for Django 4.2:

* `assertFormsetError` --> `assertFormSetError`
* `assertQuerysetEqual` --> `assertQuerySetEqual`

`django-upgrade` should help to automate these changes.

[2022-09-25 13:36] adamchainz commented on #252
Thanks for creating an isue! Yeah that seems useful, but I don't think we should add a fixer here until after it's in a release candidate, at least.

[2022-09-25 15:01] icemac commented on #252
@adamchainz Maybe I had too much drive here on the DjangoCon Europe sprint 🏎, so I already created a PR (See #253) as suggested by @carltongibson in the Django ticket.
You might delay merging it.

[2022-09-27 21:38] #239 closed

[2022-09-27 22:44] UnknownPlatypus opened #256 "Replace `ModelMultipleChoiceField`'s `list` error message with `invalid_list`"
### Description

Since django 3.1, the [forms.ModelMultipleChoiceField](https://docs.djangoproject.com/en/3.1/ref/forms/fields/#modelmultiplechoicefield) `list` error message key is [deprecated](https://docs.djangoproject.com/en/3.1/releases/3.1/#id2) in favor of `invalid_list`.

SImilarly to the `EmailValidator(whitelist=...)`, I think this could be auto-fixed.

[code]
Would you be interested in

[2022-09-28 06:39] adamchainz commented on #256
Yeah sure!

[2022-09-28 15:03] GitRon opened #257 "How to use django-upgrade in the Pipeline?"
### Python Version

3.10

### Django Version

4.1.1

### Package Version

1.10.0

### Description

Hi there!

I installed your great package - thx for the update on DjangoCon! - and it works great with pre-commit. Additionally, I want to ensure via the pipeline that nobody smuggles in some deprecated code... but the best way I found was using pre-commit inside the pipeline step which feels a littl

[2022-09-28 15:28] adamchainz commented on #257
pre-commit recommends running `pre-commit run --all-files` in CI - [see docs](https://pre-commit.com/#usage-in-continuous-integration). The author even [created a CI service](https://pre-commit.ci/) to do that, and more.

This is the way I recommend.

But yes, the tool should exit with code 1 if it rewrites any files.

[2022-09-28 15:31] adamchainz commented on #257
Just tested and `django-upgrade` does exit 1 when it rewrites files. And `xargs` will exit if any invocation fails. I think you maybe missed something in your test. Closing for now but if you have more info.

[2022-09-28 15:31] #257 closed

[2022-09-28 15:31] GitRon commented on #257
Ok, thx for the super quick reply!

[2022-09-29 07:59] #256 closed

[2022-10-05 09:14] sshishov commented on #250
The same issue is happening for us.

We are also using one line per import and the library is rewriting the import and then isort rewrite it back.

Means we cannot use this `pre-commit` until the issue is fixed.

[2022-10-05 09:17] adamchainz commented on #250
Understood, I started lookign a fix in #255, treating it as a release blocker at least.

[2022-10-05 09:22] sshishov commented on #250
Thank you for the update @adamchainz 👍

[2022-10-05 12:00] amrishparmar opened #263 "Make `re_path` -> `path` fixer convert `include()`s with unterminated regexes"
### Python Version

3.10.7

### Django Version

4.1.2

### Package Version

1.10.0

### Description

Not sure if this is a bug strictly speaking or a feature request, but after running this package with `--target-version 4.1` the fixer that converts `re_path` usage to `path` misses cases which should result in a direct translation.

An example from our codebase is
`re_path(r"^accounts/", include("

[2022-10-05 17:02] adamchainz commented on #263
Ah right, currently the fixer only considers regexes that end with `$`, which prevents it from applying in this situation. I think we could maybe allow non-$-terminated regexes for `include()` only. It's not safe to convert for views since the lack of $ means the regex matches any characters at the end.

[2022-10-05 23:23] UnknownPlatypus commented on #263
Agree, it's looking safe for the `include()` case, should be quite a simple update to support this case.

Should I step in for a patch ? I've seen you started some refactoring to fix #250 so maybe we should wait for this before doing more work on this fixer?

PS: @amrishparmar See #121 for reference on why it's not safe for views.

[2022-10-06 07:44] adamchainz commented on #263
Yeah it needs to wait until #250 is fixed. If you want to make an alternate PR before I get to work on it, feel free.

[2022-10-14 16:48] adamchainz opened #266 "Change request.headers fixer to use lower case"
As per https://twitter.com/AdamChainz/status/1580936866794045445

[2022-10-17 17:18] adamchainz opened #268 "Update settings.DATABASES backend path `django.db.backends.postgresql_psycopg2`"
This backend was renamed in Django 1.9. There’s still a compat path:
https://github.com/django/django/blob/84206607d6bfd61e7f7a88b51163ffd4153e3b5a/django/db/utils.py#L108-L110

But better to update outdated settings so they’re in line with docs and actual module layout.

[2022-10-22 08:10] David-Wobrock opened #271 "Django 4.2: Rewrite test request factory and client usage to use `headers`"
### Description

Following https://github.com/django/django/pull/16163, a new `headers` parameter was introduced in 4.2 for the 4 classes:
- `RequestFactory`
- `Client`
- `AsyncRequestFactory`
- `AsyncClient`

Let's use that parameter instead of the keyword arguments, which were prefixed with `HTTP_` for the synchronous classes (WSGI).

[2022-10-22 11:22] adamchainz commented on #271
Basically rewrites like this:

[code]

[2022-10-22 11:27] #266 closed

[2022-10-23 12:45] adamchainz opened #274 "Always lowercase header names"
### Description

Vote says this is a good idea

https://twitter.com/AdamChainz/status/1583783020888489984?s=20&t=4kgu-FdDRgwG5x6IM5nu_A

[2022-10-23 20:43] ramiboutas opened #275 "Add "latest" as a target-version"
### Description

I would be interested in having an additional option "latest" version of Django in the --target-version argument, so I don't have to change my pre-commit hook on every Django release.

I don't know if that would make much sense since the code below would need probably nasty implementation :thi

[code]

[2022-10-24 09:06] adamchainz commented on #275
I’m not going to do that: explicit is better than implicit. I don't want a new version of django-upgrade to modify your code in unexpected ways.

Also you need to coordinate your target version of django-upgrade with your Django version - and whether you’ve yet deployed the new Django version to all your web servers, you’ve tested and don't want to roll back, etc.

[2022-10-24 09:06] #275 closed

[2022-10-25 08:48] #250 closed

[2022-10-26 19:53] cgl opened #278 "Option to select specific fixer to run"
### Description

It would be nice to have the option to specify one or more fixer to apply.
One usecase is to be able to categorise the changes in several different commits, and another usecase is the codebase might not be ready to apply some of the fixes but others.

[2022-10-29 09:39] adamchainz opened #281 "Use `@cached_property` for `State.looks_like_*` methods"
### Description

Compute them once per `State`.

[2022-10-29 12:04] UnknownPlatypus commented on #281
Funny, I was thinking about something similar too and did some profiling running `django-upgrade` on a 5363 python files repo. Here is a graph from cprofile for a noop operation (everything is already upgraded):

<details>
 <summary><b>current.svg</b></summary>

<img src='https://user-images.githubusercontent.com/68703331/198829394-440bcfb1-a43b-42a3-9338-99629a39832b.svg'>
</details>

I noticed t

[2022-10-29 17:40] #268 closed

[2022-10-29 17:43] adamchainz commented on #281
Thanks for the benchmarking! I haven't even tried yet. <9 seconds for 5363 files is very acceptable already 😎

Was this with [yelp-gprof2dot](https://pypi.org/project/yelp-gprof2dot/) ? 👀

Conditional registration seems more complicated than it's worth. Would you like to make a PR using `cached_property` and hoisting the `looks_like_*` checks then?

[2022-10-29 20:41] UnknownPlatypus commented on #281
ye honestly this is already fast for a whole repo upgrade :clap:

ye exactly, mostly using the same tooling as anthony (for exemple [in this video](https://www.youtube.com/watch?v=Q3menOSxRC4)).
I've also tried [snakeviz](https://github.com/jiffyclub/snakeviz) in the past but I find it a bit less readable.

I'm down to work on a PR, I'm just wondering how to deal with the slotted class. `functools

[2022-10-29 23:01] #281 closed

[2022-10-29 23:03] adamchainz commented on #281
Yeah thanks for that. `__slots__` is quite the micro-optimization, but worth keeping since we can.

[2022-10-31 14:55] CLWilliam opened #283 "NullBooleanField upgraded to BooleanField in migrations file"
### Python Version

3.10

### Django Version

3.2.5 --> 4.1

### Package Version

1.11.0

### Description

While using django upgrade on the entire django project using the following in the main django project folder (powershell):
`git ls-files -- '*.py' | %{django-upgrade --target-version 4.1 $_}`

Also the migration files where targeted (one of the files before conversion, located at projects >

[2022-10-31 17:25] adamchainz commented on #283
`looks_like_migrations_file` is really simple:

https://github.com/adamchainz/django-upgrade/blob/main/src/django_upgrade/data.py#L64-L65

Can you try and debug why it’s not returning `True`? Seems like it could be a Windows/Powershell issue.

[2022-11-02 15:05] CLWilliam commented on #283
Hi Adam,

it may be indeed a combining PowerShell & git ls-files issue. `git ls-files -- '*.py'` outputs the following:
[code]
When this is passed to `looks_like_migrations_file`, this results in the following:
[code]
As the separator used by git ls-files (and git bash in general) does not match the `os.path.sep`.
replacing the '/' did the trick:
[code]
Is this something to be added in the docs? O

[2022-11-02 15:13] adamchainz commented on #283
Ah os.path.sep is incomplete, we need to use altsep too, if not None: https://docs.python.org/3.10/library/os.html#os.altsep

would you like to make a PR changing that instead?

[2022-11-02 19:53] adamchainz commented on #278
Yeah that would be nice. I think we could take module names to select like `--fixer request_headers`. Would you like to work on a PR?

[2022-11-02 19:54] adamchainz commented on #278
And perhaps `--no-fixer request_headers` to disable a fixer, so that if someone finds a particular fixer problematic, they don't need to stop using the tool.

[2022-11-03 11:11] CLWilliam commented on #283
Not sure if using os.sep and os.altsep is the best way to do this:
Splitting on two delimiters can be done with re.split, the pattern will be something like:
[code]
Not sure if getting the path seperator from `os` would have an added value here.
But if we're already going into regex land, maybe simplifying to the general approach in data.py would be a better solution:
[code]

also simplifying the

[2022-11-05 09:54] adamchainz opened #289 "Python compat path removal based on Django’s `PY*` constants"
### Description

Django has private constants for Python version:

https://github.com/django/django/blob/84206607d6bfd61e7f7a88b51163ffd4153e3b5a/django/utils/version.py#L9-L18

We could copy pyupgrade’s [old version removal](https://github.com/asottile/pyupgrade/#python2-and-old-python3x-blocks) feature for these constants.

Taking an extra argument with the target Python version might be a bit o

[2022-11-09 11:36] #263 closed

[2022-11-09 12:33] #283 closed

[2022-11-09 12:40] adamchainz commented on #278
One workaround is to use `grepdiff` to selectively commit fixed lines: https://stackoverflow.com/a/52394658

[2022-11-12 18:26] UnknownPlatypus opened #293 "Support more compatibility import rewrites"
### Description

I noticed while browsing django codebase for  `warnings.warn` that some (rather old) compatibility imports were not supported by django-upgrade.

Do you think it could be a valuable addition ?

I was thinking of using a similar pattern to anthony's [compatibility import plugin](https://github.com/asottile/pyupgrade/blob/main/pyupgrade/_plugins/imports.py) by keeping a mapping of `

[2022-11-12 20:35] adamchainz commented on #293
Whilst most of the imports you’ve found are from pretty old versions, I think it could be valuable to group the pure import move fixers in one. I think it would be best if you could make a first PR that groups them, before we add any new ones.

Also I wouldn’t want to add any older versions than we already support (1.7), just for a few import changes.

[2022-11-12 22:39] UnknownPlatypus commented on #293
Makes sense, will start with the grouping then.

yeah, most of them could be grouped into existing target-version maybe.